[submodule "SparkFun-KiCad-Libraries"]
	path = SparkFun-KiCad-Libraries
	url = https://github.com/sparkfun/SparkFun-KiCad-Libraries.git
[submodule "digikey-kicad-library"]
	path = digikey-kicad-library
	url = https://github.com/digikey/digikey-kicad-library.git
[submodule "galactose-kicad-library"]
	path = galactose-kicad-library
	url = https://craigburden@bitbucket.org/craigburden/galactose-kicad-library.git
